body {
    background-color: pink;
    font-family: 'american typewriter', serif;
}

header {
    font-size: 30px;
}

#task-input {
    width: 400px;
    font-size: 20px;
    font-family: 'american typewriter', serif;
}

#task-submit:hover {
    background-color: gold;
}

#task-submit {
    font-size: 20px;
    font-family: 'american typewriter', serif;
}

#user-entry {
    margin-bottom: 30px;
}

.task-des-display {
    max-width: 400px;
}

#task-header {
    width: 400px;
}

.submit-header {
    width: 150px;
}

[data-complete="false"] {
    background-color: lightblue;
}

[data-complete="true"] {
    background-color: lightgreen;
}

.delete-submit {
    font-size: 17px;
    font-family: 'american typewriter', serif;
}

.delete-submit:hover {
    background-color: red;
    border-color: red;
}

.complete-submit {
    font-size: 17px;
    font-family: 'american typewriter', serif;
}

.complete-submit:hover {
    background-color: lightgreen;
}

td {
    padding: 2px;
    text-align: center;
}

th {
    font-size: 20px;
}
