body {
    background-color: lightyellow;
    font-family: 'american typewriter', serif;
}

header {
    font-size: 30px;
    color: #274D5B;
    text-shadow: 2px 2px 5px #274D5B;
    margin-left: 10px;
}

#content {
    margin-left: 10px;
}
#user-entry {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

#due-date-input {
    font-size: 20px;
    font-family: 'american typewriter', serif;
    background-color: lightyellow;
}

.priority-level {
    font-size: 17px;
    font-family: 'american typewriter', serif;
}

#task-input {
    width: 400px;
    font-size: 20px;
    font-family: 'american typewriter', serif;
    background-color: lightyellow;
}

#task-submit {
    background-color: #46988E;
    border-color: #46988E;
}

#task-submit:hover {
    background-color: #C6F5CB;
}

#task-submit {
    font-size: 20px;
    font-family: 'american typewriter', serif;
}

#user-entry {
    margin-bottom: 30px;
}

.task-des-display {
    max-width: 400px;
}

#task-header {
    width: 400px;
}

.submit-header {
    width: 150px;
}

[data-complete="false"] {
    background-color: lightblue;
}

[data-complete="true"] {
    background-color: #C7F3B5;
    --bs-text-opacity: .5;
}

[data-overdue="false"] {
    background-color: none;
}

[data-overdue="true"] {
    background-color: #B694F0;
    font-weight: bold;
}

[data-priority="low"] {
    background-color: #F8E181;
    border-color: #F8E181;
}

[data-priority="medium"] {
    background-color: #FAAC6A;
    border-color: #FAAC6A;
}

[data-priority="high"] {
    background-color: #D46D4F;
    border-color: #D46D4F;
}

.delete-submit {
    font-size: 17px;
    font-family: 'american typewriter', serif;
}

.mark-as-not-complete {
    font-size: 17px;
    font-family: 'american typewriter', serif;
}

.delete-submit:hover {
    background-color: #D61A20;
    border-color: #D61A20;
}

.complete-submit {
    font-size: 17px;
    font-family: 'american typewriter', serif;
}

.complete-submit:hover {
    background-color: #37993C;
    border-color: #37993C;
}

td {
    padding: 2px;
    text-align: center;
}

th {
    font-size: 20px;
}

/* Copied from getboostrap.com responsive breakpoints documentation 
to enable app to repond to changes in browser window size. */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }